/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3 {
  font-size: 1.5625rem;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
  font-family: "Raleway", sans-serif;
}
@media (min-width: 64em) {
  h1,
h2,
h3 {
    font-size: 2.1875rem;
  }
}

a {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(217deg, 28%, 15%);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.container {
  max-width: 79.0625rem;
  padding-inline: 1.0625rem;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 1rem 4.625rem;
  border-radius: 3.125rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  background: linear-gradient(to right, hsl(176deg, 68%, 64%), hsl(198deg, 60%, 50%));
  position: relative;
}
.btn::after {
  display: block;
  position: absolute;
  border-radius: 3.125rem;
  content: "";
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all 0.2s ease-in-out;
  background-color: hsl(0deg, 0%, 100%);
  opacity: 0;
  visibility: hidden;
}
.btn:hover::after {
  opacity: 0.3;
  visibility: visible;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.375rem;
  font-weight: 400;
  color: hsl(0deg, 0%, 100%);
}
@media (min-width: 64em) {
  .header .container {
    padding-top: 3.125rem;
  }
}
.header__logo {
  width: 4.6875rem;
}
@media (min-width: 64em) {
  .header__logo {
    width: 8rem;
  }
}
.header__links a {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transition: font-weight 0.01s ease-in-out;
}
.header__links a:not(:last-child) {
  margin-right: 1.375rem;
}
@media (min-width: 64em) {
  .header__links a:not(:last-child) {
    margin-right: 3.5rem;
  }
}
.header__links a:hover {
  text-decoration: underline;
  transform: scale(1.2);
  font-weight: 700;
}

.hero {
  background: url("/assets/images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  text-align: center;
}
@media (max-width: 39.9375em) {
  .hero {
    background-image: url("/assets/images/bg-curvy-mobile.svg"), linear-gradient(0deg, hsl(218deg, 28%, 13%) 37%, hsl(217deg, 28%, 15%) 50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.hero .container {
  padding-top: 2.25rem;
  padding-bottom: 5rem;
}
.hero__image {
  background-image: url("/assets/images/illustration-intro.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  height: 12.8125rem;
  width: 17.25rem;
  margin-bottom: 2rem;
}
@media (min-width: 64em) {
  .hero__image {
    width: 718px;
    height: 539px;
    background-size: contain;
  }
}
.hero__text {
  max-width: 25rem;
  margin: auto;
}
@media (min-width: 64em) {
  .hero__text {
    max-width: 42rem;
  }
}
.hero__title {
  margin-bottom: 1.25rem;
}
.hero__description {
  margin-bottom: 1.9375rem;
  line-height: 1.6;
  font-weight: 400;
}
@media (min-width: 64em) {
  .hero__description {
    max-width: 28rem;
    margin-inline: auto;
    font-size: 0.875rem;
  }
}

.features {
  background-color: hsl(218deg, 28%, 13%);
  text-align: center;
  padding-block: 3.5rem;
}
.features .container {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
}
@media (min-width: 40em) {
  .features .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
  }
}
.features__image {
  margin: auto;
  margin-bottom: 2rem;
}
.features__title {
  font-size: 1.1875rem;
  font-weight: 700;
}
.features__description {
  line-height: 1.6;
  padding: 0.59rem;
}
@media (min-width: 40em) {
  .features__description {
    max-width: 25rem;
    margin: auto;
  }
}

.how-it-works {
  background-color: hsl(218deg, 28%, 13%);
  padding-block: 3.5rem;
}
.how-it-works .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.875rem;
}
@media (max-width: 39.9375em) {
  .how-it-works .container {
    padding-inline: 1.4375rem;
  }
}
@media (min-width: 40em) {
  .how-it-works .container {
    gap: 54px;
  }
}
@media (min-width: 64em) {
  .how-it-works .container {
    flex-direction: row;
  }
}
@media (min-width: 40em) {
  .how-it-works__image {
    max-width: 483px;
    align-self: center;
  }
}
@media (min-width: 87.5em) {
  .how-it-works__image {
    max-width: 100%;
  }
}
.how-it-works__description {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}
@media (min-width: 64em) {
  .how-it-works__description {
    padding: 2rem;
    max-width: 560px;
  }
}
@media (max-width: 63.9375em) {
  .how-it-works__description {
    text-align: center;
    max-width: 30rem;
    margin: auto;
  }
}
@media (max-width: 39.9375em) {
  .how-it-works__description {
    text-align: left;
  }
}
@media (min-width: 64em) {
  .how-it-works__title {
    max-width: 20rem;
  }
}
.how-it-works__link {
  border-bottom: 1px solid hsl(176deg, 68%, 64%);
  padding-bottom: 5px;
  color: hsl(176deg, 68%, 64%);
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s ease-in-out;
}
.how-it-works__link:hover {
  color: hsl(0deg, 0%, 100%);
  border-bottom: 1px solid hsl(0deg, 0%, 100%);
}
.how-it-works__link:hover use:last-child {
  fill: hsl(0deg, 0%, 100%);
}
@media (max-width: 63.9375em) {
  .how-it-works__link {
    margin: auto;
  }
}
@media (max-width: 39.9375em) {
  .how-it-works__link {
    margin: 0;
  }
}

.testimonials {
  background-color: hsl(218deg, 28%, 13%);
  padding-top: 11.25rem;
  padding-bottom: 22rem;
}
.testimonials .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
@media (min-width: 64em) {
  .testimonials .container {
    flex-direction: row;
    gap: 36px;
  }
}
.testimonials__item {
  background-color: hsl(219deg, 30%, 18%);
  padding: 25px 28px 15px 20px;
  border-radius: 10px;
  max-width: 360px;
  position: relative;
}
.testimonials__item:first-child::before {
  content: "";
  position: absolute;
  background-image: url("/assets/images/bg-quotes.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 55px;
  height: 45px;
  top: -50px;
}
@media (max-width: 39.9375em) {
  .testimonials__item:first-child::before {
    width: 30px;
    top: -35px;
  }
}
.testimonials__quote {
  line-height: 1.7;
  margin-bottom: 15px;
  display: block;
}
.testimonials__author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.testimonials__author img {
  width: 30px;
  border-radius: 50%;
}
.testimonials__author div {
  display: flex;
  flex-direction: column;
}
.testimonials__author div span:last-child {
  font-size: 0.5rem;
}
.testimonials__author div span:first-child {
  font-size: 0.75rem;
  font-weight: 700;
}

.section-cta {
  max-width: 93vmin;
  width: 100%;
  background-color: hsl(219deg, 30%, 18%);
  border-radius: 7px;
  text-align: center;
  padding-top: 2.875rem;
  padding-bottom: 2.25rem;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -62%);
}
@media (max-width: 39.9375em) {
  .section-cta {
    padding-block: 2.375rem;
    padding-inline: 1.5rem;
  }
}
.section-cta h2 {
  margin-bottom: 1.3rem;
}
.section-cta p {
  margin-bottom: 2rem;
  max-width: 40rem;
  margin-inline: auto;
}
.section-cta__register input {
  max-width: 30rem;
  width: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-block: 9px;
  padding-inline: 38px;
}
@media (min-width: 64em) {
  .section-cta__register input {
    margin-right: 1.6875rem;
  }
}
@media (max-width: 63.9375em) {
  .section-cta__register input {
    margin-bottom: 22px;
  }
}
.section-cta__btn {
  color: hsl(0deg, 0%, 100%);
  border: none;
  padding-inline: 31px;
  padding-block: 11px;
}
.section-cta__btn::placeholder {
  color: hsl(219deg, 30%, 18%);
}
@media (max-width: 63.9375em) {
  .section-cta__btn {
    display: block;
    max-width: 30rem;
    width: 100%;
    margin: auto;
  }
}

.footer {
  background-color: hsl(216deg, 53%, 9%);
  padding-top: 12.25rem;
  padding-bottom: 5.625rem;
}
@media (max-width: 39.9375em) {
  .footer {
    padding-top: 14.0625rem;
  }
}
.footer__container {
  display: grid;
}
@media (min-width: 64em) {
  .footer__container {
    grid-template-columns: 0.6fr repeat(4, auto);
    justify-items: end;
    gap: 5rem;
  }
}
@media (max-width: 63.9375em) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 2rem;
  }
}
@media (max-width: 39.9375em) {
  .footer__container {
    grid-template-columns: 1fr;
    justify-items: start;
    row-gap: 1rem;
  }
}
.footer__logo {
  margin-bottom: 2.25rem;
}
.footer__location {
  display: flex;
  align-items: flex-start;
  gap: 1.3rem;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.footer__contacts > div {
  display: flex;
  align-items: flex-start;
  gap: 1.3rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.footer__links a {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transition: font-weight 0.01s ease-in-out;
}
.footer__links a:hover {
  transform: scale(1.2);
  font-weight: 700;
}
@media (max-width: 39.9375em) {
  .footer__links {
    margin-top: 3.8125rem;
  }
}
.footer__social {
  display: flex;
  gap: 0.7rem;
  justify-self: end;
}
@media (max-width: 63.9375em) {
  .footer__social {
    grid-column: 1/-1;
    justify-self: center;
  }
}
@media (max-width: 39.9375em) {
  .footer__social {
    margin-top: 3.3125rem;
  }
}

ion-icon {
  width: 25px;
  height: 25px;
  transition: color 0.2s ease-in-out;
}
ion-icon:hover {
  color: hsl(176deg, 68%, 64%);
}/*# sourceMappingURL=style.css.map */