@use '../general-styles/color' as clrs;
@use '../general-styles/typography' as type;
@use '../breakpoints/breakpoint' as *;

.hero {
  background: url('/assets/images/bg-curvy-desktop.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;

  text-align: center;

  @include breakpoint-down(small) {
    background-image: url('/assets/images/bg-curvy-mobile.svg'),
      linear-gradient(
        0deg,
        clrs.primary(dark-blue-main) 37%,
        clrs.primary(dark-blue-intro) 50%
      );

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .container {
    padding-top: 2.25rem;
    padding-bottom: 5rem;
  }

  &__image {
    background-image: url('/assets/images/illustration-intro.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    height: 12.8125rem;
    width: 17.25rem;
    margin-bottom: 2rem;

    @include breakpoint-up(large) {
      width: 718px;
      height: 539px;
      background-size: contain;
    }
  }

  &__text {
    max-width: 25rem;
    margin: auto;

    @include breakpoint-up(large) {
      max-width: 42rem;
    }
  }

  &__title {
    margin-bottom: 1.25rem;
  }

  &__description {
    margin-bottom: 1.9375rem;
    line-height: 1.6;
    font-weight: type.weight('regular');

    @include breakpoint-up(large) {
      max-width: 28rem;
      margin-inline: auto;
      font-size: type.size('normal');
    }
  }
}
